@import url('https://fonts.googleapis.com/css?family=Abel');

body{
  background-color: #0D47A1;
}
/*________________page 1______________________________*/
#pageStart div{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  background-image : url("../images/logo.png");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  border : 2px solid #448AFF;
  margin-top: 20px;
}

h1{
  color: white;
  font-family: 'Abel', sans-serif;
  font-size: 3em;
  text-align: center;
  font-weight: bold;
}

#accroche{
  color: white;
  margin-top: 50px;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.2em;
}

 .btn{
   margin-top: 30px;
   font-family: sans-serif;
   border-radius: 0;
   background-color: white;
   color: #0D47A1;
   border : 1px solid #448AFF;
 }
 .btn:hover{
   background-color: #448AFF;
   color: white;
 }
/*______________Page2____________________*/
.display{
  display: none;
}
#vue{
  height: 300px;
  width: 100%;
  border : 1px solid #448AFF;
  background-image: url("../images/boulogne.jpg");
  background-size: cover;
  background-position: right;
  font-size: 1.5em;
}

.fa-chevron-up{
  position: absolute;
  transform: translate(-50%, 0);
  top : 0;
  left : 50%;
  color: white;

}
.fa-chevron-left{
  position: absolute;
  transform: translate(0, -50%);
  top : 50%;
  left : 0;
  color: white;
}
.fa-chevron-right{
  position: absolute;
  transform: translate(0, -50%);
  top : 50%;
  right: 0;
  color: white;
}
.fa-chevron-down{
  position: absolute;
  transform: translate(-50%, 0);
  bottom : 0;
  left : 50%;
  color: white;
}

/*_____________________Page3______________________*/
#apercu{
  height: 200px;
  width: 100%;
  border : 1px solid #448AFF;
  background-image: url("../images/boulogne.jpg");
  background-size: cover;
  background-position: right;

}
#question{
  font-size: 1.5em;
}
#helper{
  color: white;
}
.fa-question{
  margin-top: 35px;
  color: white;
}
#reseau .fa-facebook-official, #reseau .fa-twitter{
  margin-top: 65px;
  margin-left: -85px;
  color: white;
  margin-bottom: 15px;
}
#retourThree{
  margin-top: 0;
}
#fbTwit{
  display:none;
  position: relative;
  top: 20px;
  font-size: 1.5em;
}

/*page four*/
h3{
  text-align: center;
  color: white;
}
#formulaire{
  margin-top: 10px;
}
.input-group{
  margin-top: 15px;
}
.form-control{
  border-radius: 0%;
}
.input-group-addon{
  background-color: lightgrey;
  border-radius: 0%;
  color : #0D47A1;
}


/*page five*/

#merci{
  padding-top: 50px;
  color: white;
  font-size: 1.5em;
  text-align: center;
}
#liens{
  margin-top: 30px;
  font-size: 1.5em;
  text-align: center;
  color: white;
}
